.header {
  background-color: transparent;
  margin-top: 40px; 
  display: flex;
  align-items: center;
  padding-left: 12px;
}

ion-back-button {
  --color: var(--jawy-text-light); 
  margin-right: 10px;
}

.jawy-logo-small {
  width: 70px;
  height: auto;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 40px var(--jawy-padding-side) 20px; 
  min-height: 100%;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1; 
}

.textos {
  display: flex;
  flex-direction: column;
  gap: 4px;

  h1 {
    margin: 0;
    font-size: 30.5px;
    white-space: nowrap;
    letter-spacing: -0.5px;
    
    .destacado {
      color: var(--jawy-primary);
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    color: var(--jawy-text-muted);
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1; 
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    color: var(--jawy-text-light);
    font-size: 14px;
    font-weight: 500;
  }
}

.jawy-text-inputs {
  --background: var(--jawy-surface); 
  --color: var(--jawy-text-light);
  --padding-start: 16px;
  --placeholder-color: #777;
  overflow: hidden;
  border: 1px solid var(--jawy-primary);
  border-radius: 12px;
  min-height: 56px;
  font-size: 14px;
  
  &.has-focus, &.ion-focused {
    box-shadow: 0 0 0 2px rgba(246, 111, 23, 0.3); 
  }

  &::part(native) {
    padding-top: 10px;
  }
}

.pie {
  margin-top: auto;
  padding-bottom: 20px;
}

.btn-jawy-primary {
  --background: var(--jawy-primary);
  --color: white;
}