<ion-content [fullscreen]="true" class="success-bg">
  <div class="container ion-text-center">
    
  <div class="icon-wrapper" #successIcon>
    <div class="dark-circle">
      <ion-icon name="checkmark-sharp" class="check-icon"></ion-icon>
    </div>
  </div>
    
    <div class="text-content">
      <h1>¡Todo Listo!</h1>
      <p>Tu perfil como músico en la escena de <strong>La Paz</strong> ha sido configurado con éxito.</p>
    </div>

    <div class="footer-actions">
      <ion-button expand="block" mode="ios" class="dark-button" (click)="completarRegistro()">
        Volver a explorar
      </ion-button>
    </div>
    
  </div>
</ion-content>