<ion-content [fullscreen]="true">
  
  <header class="header animate__animated animate__fadeIn">
    <ion-buttons>
      <ion-back-button defaultHref="/inicio" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <img src="assets/animations/logoHeader.gif" alt="Logo Jawy" class="jawyLogo">
  </header>



  <div class="body animate__animated animate__fadeIn">
    
    <main class="todoBody">
      
      <div class="textos">
        <h1><strong><span class="destacado">¿</span>Quién eres<span class="destacado">?</span></strong></h1>
        <p>Elige lo que mejor te describa</p>
      </div>



      <ion-grid class="cuadricula-roles">
        <ion-row>
          <ion-col size="6" *ngFor="let rol of roles">
            <div class="role-card" 
                 [class.selected]="rolSeleccionado === rol.id" 
                 (click)="seleccionar(rol.id)">
              <div class="imagen-rol">
                <img [src]="rol.imagenUrl" [alt]="'Icono de ' + rol.nombre">
              </div>
              <div class="rol-Usuario">
                {{ rol.nombre }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>



      <footer class="footer">
        <ion-button expand="block" mode="ios" class="btnFill" (click)="siguiente()" [disabled]="!rolSeleccionado">
          Siguiente
        </ion-button>
      </footer>

    </main>
  </div>

</ion-content>