<ion-content [fullscreen]="true">
  
  <header class="header animate__animated animate__fadeIn">
    <ion-buttons>
      <ion-back-button defaultHref="/seleccion-rol" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <img src="assets/animations/logoHeader.gif" alt="Logo Jawy" class="jawyLogo">
  </header>

  <div class="body animate__animated animate__fadeIn">
    <main class="todoBody">
      
      <div class="textos">
        <h1><strong><span class="destacado">¿</span>Quién eres<span class="destacado">?</span></strong></h1>
        <p>Llena los espacios para que puedan conocerte mejor</p>
      </div>

      <form [formGroup]="personaForm" class="formulario">
        
        <div class="inputs">
          
          <div class="Input">
            <label>Nombre artístico</label>
            <ion-input 
              type="text" 
              placeholder="¿Cómo quieres aparecer en la plataforma?" 
              formControlName="nombreArtistico" 
              class="inputsRegistro">
            </ion-input>
          </div>

          <div class="Input">
            <label>Nombre y apellidos</label>
            <ion-input 
              type="text" 
              placeholder="¿Cuál es tu nombre real?" 
              formControlName="nombreReal" 
              class="inputsRegistro">
            </ion-input>
          </div>

          <div class="Input">
            <label>Fecha de nacimiento</label>
            <div class="selector-fecha inputsRegistro">
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
              <ion-icon name="chevron-down-outline" class="icono-flecha"></ion-icon>
            </div>
            
            <ion-popover [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime 
                  id="datetime" 
                  presentation="date" 
                  mode="md" 
                  formControlName="fechaNacimiento">
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </div>

        </div>

        <footer class="pie">
          <ion-button expand="block" mode="ios" class="btnFill" (click)="siguiente()" [disabled]="!personaForm.valid">
            Siguiente
          </ion-button>
        </footer>

      </form>

    </main>
  </div>

</ion-content>