.todo {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%;
  gap: 68px; 
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  
  img {
    width: 460px; 
    height: auto; 
    object-fit: contain; 
    max-width: 100%; 
    margin: 0;
  }
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 48px;
  gap: 68px;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 288px;

  h3 {
    margin: 0;
    
    .destacado { 
      color: var(--jawy-primary); 
    }
  }

  h6 {
    line-height: 1.5;
    margin: 0;
    color: var(--jawy-text-light);
    opacity: 0.9;
    
    strong {
      color: var(--jawy-text-light);
      font-weight: 800;
    }
  }
}

.botones {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;

  .boton-google {
    --color: var(--jawy-primary);
    --border-color: var(--jawy-primary);
    --border-width: 1.5px;
    margin: 0;
  }
}

.registro {
  a {
    color: var(--jawy-primary);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
  }
}