<ion-content [fullscreen]="true">
  <header class="header animate__animated animate__fadeIn">
    <ion-buttons>
      <ion-back-button defaultHref="/informacion-personal" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <img src="assets/animations/logoHeader.gif" alt="Logo Jawy" class="jawyLogo">
  </header>

  <div class="page-layout animate__animated animate__fadeIn">
    
    <div class="textos-header">
      <h1><strong>Hablanos de tu lugar</strong></h1>
      <h4>Llena los espacios para que podamos darnos una idea de cómo es tu lugar.</h4>
    </div>

    <form [formGroup]="lugarForm" class="todo">
      
      <div class="image-upload-container">
        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" multiple style="display: none;">
        
        <div class="image-upload-box" (click)="seleccionarFoto()" [class.has-image]="fotosLugar.length > 0">
          <img [src]="fotosLugar[0]" *ngIf="fotosLugar.length > 0" class="main-preview">
          
          <div class="upload-placeholder" *ngIf="fotosLugar.length === 0">
            <ion-icon name="add"></ion-icon>
            <span>Añadir fotos del lugar</span>
          </div>
        </div>

        <div class="thumbnails-container" *ngIf="fotosLugar.length > 0">
          <div class="thumbnail-wrapper" *ngFor="let foto of fotosLugar; let i = index">
            <img [src]="foto" class="thumbnail">
            <ion-button fill="clear" class="btn-delete-thumb" (click)="eliminarFoto(i)">
              <ion-icon name="close-circle"></ion-icon>
            </ion-button>
          </div>
          
          <div class="thumbnail-add" (click)="seleccionarFoto()" *ngIf="fotosLugar.length < 5">
            <ion-icon name="add"></ion-icon>
          </div>
        </div>
        <p class="photo-hint" *ngIf="fotosLugar.length > 0">Sube hasta 5 fotos. La primera será tu portada.</p>
      </div>

      <div class="input">
        <div class="form-section">
          <h5>Nombre del lugar</h5>
          <ion-item lines="none" class="input-jawy">
            <ion-input type="text" placeholder="¿Cómo se llama tu lugar?" formControlName="nombreLugar"></ion-input>
          </ion-item>
        </div>

        <div class="form-section">
          <h5>Dirección exacta</h5>
          <ion-item lines="none" class="input-jawy">
            <ion-input type="text" placeholder="¿En qué ubicación te encuentras?" formControlName="direccion"></ion-input>
          </ion-item>
        </div>

        <div class="form-section">
          <h5>Breve descripción</h5>
          <ion-item lines="none" class="input-jawy">
            <ion-textarea placeholder="Describe el espacio..." [autoGrow]="true" rows="3" formControlName="descripcion"></ion-textarea>
          </ion-item>
        </div>
      </div>

      <div class="lista">
        <div class="linea"></div>
        <div class="form-section">
          <h4>¿Qué tipo de local manejas?</h4>
          <ion-item lines="none" class="input-seleccion">
            <ion-select placeholder="Selecciona el tipo" toggleIcon="chevron-down" formControlName="tipoLocal">
              <ion-select-option value="bar">Bar / Pub</ion-select-option>
              <ion-select-option value="cafe">Café Cultural</ion-select-option>
              <ion-select-option value="teatro">Teatro / Foro</ion-select-option>
              <ion-select-option value="estudio">Estudio de grabación</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="linea"></div>
      </div>

    </form>

    <div class="footer">
      <ion-button expand="block" mode="ios" class="btnFill" (click)="siguiente()" [disabled]="!lugarForm.valid">
        Siguiente
      </ion-button>
    </div>

  </div>
</ion-content>