// 1. Forzamos el contenedor principal al color de tus inputs
ion-header.ion-no-border {
    background-color: #252525 !important;
    --background: #252525 !important;
}

// 2. Forzamos la Toolbar y su fondo interno
ion-toolbar {
    --background: #252525 !important;
    --border-width: 0 !important;
    background: #252525 !important;

    // Esta es la "llave" maestra para el fondo real en Ionic
    &::part(background) {
        background: #252525 !important;
    }
}

// Ajuste para el contenedor del logo
.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 48px; // Compensación por el botón back                                                          
}
// 2. Forzamos la Toolbar y su fondo interno
ion-toolbar {
    --background: #151519 !important;
    --border-width: 0 !important;
    background: #151519 !important;

    // Esta es la "llave" maestra para entrar al fondo real
    &::part(background) {
        background: #151519 !important;
    }
}
.jawy-logo-small {
    width: 64px; 
    height: auto;
}

// 3. Ajuste de contenido para que no haya "fugas" de color
.header-content {
    background-color: transparent !important;
    margin-top: 40px; // Bajé un poco el margen para que no se salga del área
    display: flex;
    align-items: center;
}
.container {
  padding: 20px;
  background-color: var(--ion-color-tertiary);
}

.header-text {
  margin-bottom: 40px;
  h1 { font-size: 32px; font-weight: 700; margin-bottom: 5px; }
  p { font-size: 14px; opacity: 0.7; }
}

.section-group {
  margin-bottom: 30px;
  
  .section-label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--ion-color-light);
  }
}

.custom-select {
  --background: #252525;
  --border-radius: 8px;
  --color: var(--ion-color-light);
  margin-bottom: 10px;
  border: 1px solid #444;

  ion-select {
    width: 100%;
    font-family: 'poppins-regular';
    --placeholder-color: var(--ion-color-primary);
    --placeholder-opacity: 1;
  }
}

.dark-list {
  background: #252525;
  border-radius: 12px;
  padding: 0;
  overflow: hidden;

  ion-item {
    --background: #1e1e22;
    --color: var(--ion-color-light);
    --border-color: #333;
    font-size: 14px;
    font-family: 'poppins-regular';

    ion-checkbox {
      --checkbox-background-checked: var(--ion-color-primary);
      --border-color-checked: var(--ion-color-primary);
    }
  }
}

.footer-actions {
  text-align: center;
  margin: 40px 0 20px 0;

  ion-button {
    --background: var(--ion-color-primary);
    --border-radius: 12px;
    height: 55px;
    font-weight: bold;
  }

  .studio-tag { font-size: 12px; opacity: 0.5; margin-top: 20px; }
}