<ion-content [fullscreen]="true">
  <header class="header">
    <ion-buttons>
      <ion-back-button defaultHref="/login" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <img src="assets/animations/logoHeader.gif" alt="Logo Jawy" class="jawyLogo">
  </header>
  
  <div class="bgGif">
    <video 
      src="assets/Video/Bg_Inicio.mp4" 
      class="background-gif" 
      autoplay 
      loop 
      muted 
      playsinline 
      preload="auto" 
      disablePictureInPicture>
    </video>
  </div>

  <div class="body">

    <div class="textos">
      <h1><strong><span class="destacado">¡</span>Inicia sesión<span class="destacado">!</span></strong></h1>
      <p>Ingresa a tu cuenta para continuar</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="todo">
      
      <div class="inputs">
        <ion-input 
          label="Nombre o Correo" 
          labelPlacement="floating" 
          formControlName="email"
          class="input">
        </ion-input>
        
        <ion-input
          label="Contraseña" 
          labelPlacement="floating" 
          formControlName="password"
          type="password"
          class="input">
        </ion-input>
      </div>
      
      <ion-button expand="block" mode="ios" class="btnFill btn-jawy-primary" type="submit"> 
        <strong>Ingresar</strong>
      </ion-button>

    </form>
    
    <div class="footer">
      <p>¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>
    </div>

  </div>
</ion-content>