<ion-header>
    <div class="header">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      
      <img src="./assets/img/logo.png" alt="Logo Jawy" class="jawy-logo-small">
    </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">

    <div class="textos">
      <h1><strong><span class="destacado">¡</span>Inicia sesión<span class="destacado">!</span></strong></h1>
      <p>Ingresa a tu cuenta</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="form-container">
      
      <div class="inputs">
        <ion-input 
          label="Nombre o Correo" 
          labelPlacement="floating" 
          formControlName="email"
          class="contenido-input">
        </ion-input>
        
        <ion-input
          label="Contraseña" 
          labelPlacement="floating" 
          formControlName="password"
          type="password"
          class="contenido-input">
        </ion-input>
      </div>
      
      <ion-button expand="block" mode="ios" class="btn-jawy-primary" type="submit"> 
        Ingresar
      </ion-button>

    </form>
    
    <div class="footer">
      <p>¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>
    </div>

  </div>
</ion-content>