<ion-content [fullscreen]="true">

  <header class="header">

    <ion-buttons>
      <ion-back-button defaultHref="/login" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <img src="assets/animations/logoHeader.gif" alt="Logo Jawy" class="jawyLogo">
  
  </header>

  <div class="body">

    <main class="todoBody">
      
      <div class="textos">
        <h1><strong><span class="destacado">¡</span>Regístrate<span class="destacado">!</span></strong></h1>
        <p>Ingresa tus datos personales y crea tu cuenta.</p>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="formulario">
        
        <div class="inputs">
          <ion-input 
            label="Correo Electrónico" 
            labelPlacement="floating"
            formControlName="email"
            type="email"
            class="input">
          </ion-input>

          <ion-input 
            label="Nombre completo" 
            labelPlacement="floating"
            formControlName="name"
            type="text"
            class="input">
          </ion-input>

          <ion-input 
            label="Nombre de usuario" 
            labelPlacement="floating"
            formControlName="username"
            type="text"
            class="input">
          </ion-input>
          
          <ion-input 
            label="Whatsapp" 
            labelPlacement="floating"
            formControlName="phone"
            type="tel"
            class="input">
          </ion-input>
          
          <ion-input
            label="Contraseña" 
            labelPlacement="floating" 
            formControlName="password"
            type="password"
            class="input">
          </ion-input>
          
          <ion-input 
            label="Confirmar contraseña" 
            labelPlacement="floating" 
            formControlName="confirmPassword"
            type="password"
            class="input">
          </ion-input>
        </div>
        
        <ion-button 
          type="submit" 
          expand="block" 
          mode="ios"
          class="btnFill"
          [disabled]="form.invalid">
          Registrarse
        </ion-button>

      </form>

    </main>

    <footer class="footer">
      <p>¿Ya tienes una cuenta? <a routerLink="/login" class="login-link">¡Ingresa tu cuenta!</a></p>
    </footer>

  </div>
</ion-content>