.jawy-tab-bar {
  --background: var(--black); 
  --border: 0px !important;
  --box-shadow: none !important;
  border-top: 1px solid var(--dark-grey); 
  
  height: calc(64px + env(safe-area-inset-bottom));
  padding:4px 12px;

  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

ion-tab-button {
  --color: var(--white-muted);
  --color-selected: var(--orange);
  --ripple-color: transparent; 
  background: transparent;

  ion-icon {
    font-size: 24px;
    margin-bottom: 4px;
    transition: all 0.3s ease;
  }

  ion-label {
    font-size: 12px;
    font-weight: 600;
  }
  
  &.tab-selected ion-icon {
    transform: translateY(-2px);
  }
}