<ion-tab-bar slot="bottom" class="jawy-tab-bar" mode="md">
  
  <ion-tab-button routerLink="/home" routerDirection="root" routerLinkActive="tab-selected">
    <div class="jawy-sprite-icon places-sprite"></div>
    <ion-label>Lugares</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/servicios" routerDirection="root" routerLinkActive="tab-selected">
    <div class="jawy-sprite-icon servicios-sprite"></div>
    <ion-label>Servicios</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/eventos" routerDirection="root" routerLinkActive="tab-selected">
    <div class="jawy-sprite-icon eventos-sprite"></div>
    <ion-label>Eventos</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/profile" routerDirection="root" routerLinkActive="tab-selected">
    <div class="jawy-sprite-icon profile-sprite"></div>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

</ion-tab-bar>