<ion-tab-bar class="no-shadow" translucent="true">

  <ion-tab-button routerLink="/home" routerDirection="root" routerLinkActive="tab-selected" class="no-shadow">
    <ion-icon name="pulse-outline"></ion-icon>
    <ion-label>Lugares</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/marketplace" routerDirection="root" routerLinkActive="tab-selected" class="no-shadow">
    <ion-icon name="storefront"></ion-icon>
    <ion-label>Servicios</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/eventos" routerDirection="root" routerLinkActive="tab-selected" class="no-shadow">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Eventos</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/profile" routerDirection="root" routerLinkActive="tab-selected" class="no-shadow">
    <ion-icon name="person"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

</ion-tab-bar>