<ion-tabs>
  <ion-tab-bar color="tertiary" slot="bottom" translucent="true" class="no-shadow">
    
    <ion-tab-button tab="home" routerLink="/home" class="no-shadow">
      <ion-icon name="pulse-outline"></ion-icon>
      Lugares
    </ion-tab-button>

    <ion-tab-button tab="radio" routerLink="/marketplace">
      <ion-icon name="storefront"></ion-icon>
      Servicios
    </ion-tab-button>

    <ion-tab-button tab="library" routerLink="/eventos">
      <ion-icon name="calendar"></ion-icon>
      Eventos
    </ion-tab-button>

    <ion-tab-button tab="search" routerLink="/profile">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>