<ion-row>
  <ion-col size="6">
    <ion-item class="custom-input">
      <ion-label position="stacked">Precio Base (Bs)</ion-label>
      <ion-input type="number" [(ngModel)]="lugar.precio" placeholder="Ej: 300"></ion-input>
    </ion-item>
  </ion-col>
  
  <ion-col size="6">
    <ion-item class="custom-input">
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select [(ngModel)]="lugar.tipo" placeholder="Selecciona">
        <ion-select-option value="Bar">Bar</ion-select-option>
        <ion-select-option value="Café">Café</ion-select-option>
        <ion-select-option value="Teatro">Teatro</ion-select-option>
        <ion-select-option value="Aire Libre">Aire Libre</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>

<div class="services-section">
  <p>¿Qué incluye el lugar?</p>
  <div class="chips-selector">
    <ion-chip [color]="hasService('Wifi') ? 'warning' : 'medium'" (click)="toggleService('Wifi')">
      <ion-icon name="wifi"></ion-icon> <ion-label>WiFi</ion-label>
    </ion-chip>
    <ion-chip [color]="hasService('Camerinos') ? 'warning' : 'medium'" (click)="toggleService('Camerinos')">
      <ion-icon name="shirt"></ion-icon> <ion-label>Camerinos</ion-label>
    </ion-chip>
    <ion-chip [color]="hasService('Sonido') ? 'warning' : 'medium'" (click)="toggleService('Sonido')">
      <ion-icon name="mic"></ion-icon> <ion-label>Sonido Pro</ion-label>
    </ion-chip>
  </div>
</div>