<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" class="header-group">
      <ion-back-button defaultHref="/detalles-musicales" text="" icon="chevron-back"></ion-back-button>
      
      <img src="./assets/img/logo.png" alt="Logo Jawy" class="jawy-logo-small">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    
    <div class="header-text">
      <h1>Hablanos de tí</h1>
      <p>Llena los espacios para que puedan conocerte mejor</p>
    </div>

    <div class="avatar-section" (click)="seleccionarFoto()">
      <div class="avatar-circle">
        <ion-icon name="person-outline" *ngIf="!imagePreview"></ion-icon>
        <img [src]="imagePreview" *ngIf="imagePreview">
        <div class="add-button">
          <ion-icon name="add"></ion-icon>
        </div>
      </div>
      <p>Añadir foto de perfil</p>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
    </div>

    <div class="description-section">
      <label>Descripción</label>
      <ion-item lines="none" class="custom-textarea">
        <ion-textarea 
          placeholder="Danos una breve descripción de quien eres" 
          [autoGrow]="true" 
          rows="4"
          [(ngModel)]="descripcion">
        </ion-textarea>
      </ion-item>
    </div>

    <div class="footer-actions">
      <ion-button expand="block" mode="ios" (click)="siguiente()" [disabled]="!descripcion">
        Siguiente
      </ion-button>
    </div>

  </div>
</ion-content>