<ion-content class="ion-padding">
  <div *ngIf="!enviado">
    <h2>Reservar en {{ lugar?.nombre }}</h2>
    <ion-datetime presentation="date" [(ngModel)]="fecha"></ion-datetime>
    <ion-textarea placeholder="Mensaje para el dueño" [(ngModel)]="mensaje"></ion-textarea>
    <ion-button expand="block" (click)="confirmarReserva()" [disabled]="!fecha">Enviar Solicitud</ion-button>
  </div>

  <div *ngIf="enviado" class="verification-container ion-text-center">
    <h2>¡Reservación realizada!</h2>
    <ion-button expand="block" (click)="dismissModal()">Aceptar</ion-button>
  </div>
</ion-content>