@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.always.css";

@import "./theme/iwer.scss";
@import "./theme/seba.scss";
@import "./theme/variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  --ion-font-family: 'Geist', sans-serif;
  color-scheme: dark !important;

  --jawy-bg: #151519;
  --jawy-surface: #252525;
  --jawy-primary: #F66F17;
  --jawy-text-light: #ffffff;
  --jawy-text-muted: #b3b3b3;
  --jawy-text-inputs: #868686;

  --jawy-padding-side: 20px;
  --jawy-radius-btn: 12px;
  --jawy-radius-card: 16px;

  --ion-background-color: var(--jawy-bg);
  --ion-text-color: var(--jawy-text-light);
  --ion-color-primary: var(--jawy-primary);
}



ion-datetime {
  --background: var(--jawy-surface) !important;
  --color: var(--jawy-text-light) !important;


  &::part(fade) {
    background-image: none !important;
    display: none !important;
  }
}


ion-picker-internal, 
ion-picker-column-internal,
ion-picker {
  --fade-background: var(--jawy-surface) !important;
  background: var(--jawy-surface) !important;


  &::part(fade) {
    background-image: none !important;
    mask-image: none !important;
    -webkit-mask-image: none !important;
    display: none !important;
  }
}


ion-picker-column-internal {
  &::part(wheel-item) {
    color: var(--jawy-text-light) !important;
  }
  &::part(wheel-item-active) {
    color: #ffffff !important;
    font-weight: bold;
  }
}


ion-popover {
  --background: var(--jawy-surface) !important;
  &::part(content) {
    background: var(--jawy-surface) !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5) !important;
  }
}


ion-content {
  --background: var(--jawy-bg);
  --padding-bottom: 85px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Geist', sans-serif;
  color: var(--jawy-text-light);
  margin: 0;
}

h1 { font-size: 29.9px; }
h2 { font-size: 24.9px; }
h3 { font-size: 20.7px; }
h4 { font-size: 17.3px; }
h5 { font-size: 14.4px; }
h6 { font-size: 12px; }


p {
  color: var(--jawy-text-muted);
  font-family: var(--ion-font-family);
  margin: 0;
}


.paragraph-l { font-size: 10px; }
.paragraph-m { font-size: 8.3px; }
.paragraph-s { font-size: 6.9px; }
h1 { font-size: 29.9px; }

p {
  font-family: 'Geist', sans-serif;
  color: var(--jawy-text-muted);
  font-size: 10px;
}

ion-button {
  --border-radius: var(--jawy-radius-btn);
  font-size: 14.4px;
  min-height: 48px;
}

.btn-jawy-primary {
  --background: var(--jawy-primary);
  --color: white;
}

ion-datetime-button {
  width: 100% !important;
}