<ion-card class="event-card">
  <img alt="Centro Cultural Thelonius"
    src="./assets/img/lugar.png" />
  
  <ion-card-header>
    <ion-card-title color="light" class="card-title">
      Centro Cultural Thelonius
      <span class="accent-mark">W</span>
    </ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <div class="card-detail">
      <ion-icon name="location-outline" color="light"></ion-icon>
      <p>Av. 6 de Agosto entre Pedro Salazar y Lisímaco Gutierrez 2570, La Paz</p>
    </div>
    
    <div class="card-detail">
      <ion-icon name="time-outline" color="light"></ion-icon>
      <p>Fechas disponibles a partir de 08/12/2025</p>
    </div>

  </ion-card-content>
</ion-card>